[Unit]
Description=Self-Adaptive Firewall Agent
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/env uvicorn agent.agent:app --host 0.0.0.0 --port 5001
Restart=always

[Install]
WantedBy=multi-user.target 